.subtitulos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
  }
  .mini-titulos{
    font-size: 20px;
    
  }
  .mini-info{
    font-size: 20px;
    font-weight: normal;
  }

.transacciones{
    padding: 0.5%;
    margin: 0.5%;
    border-radius: 25px;
    border: solid 2px  #9ca0a8;
    color: #100e58;
}
.card-categoria{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}
.suma{color: #2b772b;}
.resta{color: #aa0000;}